<div class="container">

  <div class="my-3">
    <h2>Create a new list</h2>
  </div>

  <div class="form list-form">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file, label: "Upload an image file (optional)" %>
      <%= f.submit class: "btn-submit" %>
    <% end %>
  </div>

</div>
