.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #fcde4c;
  border-bottom: 3px solid black;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: grey;
    }
  }
  p {
    margin-bottom: 0;
  }
  .navbar-button {
    width: 120px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin: 4px 16px;
}
